<!-- FreeSpin -->
<div class="spin spin-{{id}}">
    <div>
        <h3>
            <**'{{id}}'**> {{spinIndex}}
        </h3>
    </div>
    <table>
        {{!-- <tr>
            <td>
                <span class="bold">
                    <**'spinsAdded'**>:
                </span>
            </td>
            <td>
                <span>{{spinsAdded}}</span>
            </td>
            
        </tr> --}}
        <tr>
            <td><span class="bold"><**'multiplier'**>:</span></td>
            <td>{{multiplier}}x</td>
        </tr>
        {{!-- <tr>
            <td>
                <span class="bold">
                    <**'spinsRemaining'**>:
                </span>
            </td>
            <td>
                <span>{{spinsRemaining}}</span>
            </td>
        </tr> --}}
    </table>
    <br/>
    {{> Reels }}
</div>