<!-- GambleForBonus -->
{{> GameMode "gambleForBonus" }}
<div>
    <table>

        <tr>
            <td class="bold">
                <**'bet'**>
            </td>
            <td>{{decimal bet}}</td>
        </tr>
        <tr>
            <td class="bold" style="padding-right: 10px;">
                <**'cost'**> ({{decimal costMultiplier}} * <**'bet'**>)
            </td>
            <td>{{decimal cost}}</td>
        </tr>
        <tr>
            <td class="bold">
                <**'chanceToWin'**>
            </td>
            <td>{{chance}}%</td>
        </tr>
        <tr>
            <td class="bold">
                <**'gambleResult'**>
            </td>
            {{#if gambleWon}}
            <td>
                <**'gambleWon'**>
            </td>
            {{else}}
            <td>
                <**'gambleLost'**>
            </td>
            {{/if}}
        </tr>
    </table>
</div>